<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
 <h1>Tunr: Brought to you by Sinatra</h1>
<h2> <a href="/artists">Tous Les Artistes</a></h2>
 <%= yield %>

 
</body>
</html>
