 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <title>Document</title>
 </head>
 <body>
   <h2>Enter a new band here and hit enter</h2>
 <form action="/artists/new" method="post" >
   <label>Name:</label>
   <input name="artist[name]">

   <label>Nationality:</label>
   <input name="artist[nationality]">

   <input type="submit" value="Punch It">

</form>
 </body>
 </html>
